<!--
Header: @(email: String, username: Option[String])
-->

<div class="container mt-1 nue-email">
  <div class="d-none">
    This welcome letter is powered by angular-universalize-email. This is an open source utility that
    process angular pages into email templates with angular universal plus other conversions.

    You can develop your email template with Angular, test it with ng serve.
    Process it when you're happy and add the result to your server side stack.
  </div>

  <mat-card class="fill-x fill-t">
    <mat-card-header class="mat-primary mb-5">
      <mat-card-title class="mat-display-3">
        angular-universalize-email
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        @if(username) <nue-b>
          Hi @username.get:
        </nue-b> else <nue-b>
          Hi my friend:
        </nue-b>
      </p>

      <p>This is a welcome letter powered by angular-universalize-email.</p>

      <p>
        <a href="https://github.com/sohoffice/angular-universalize-email">angular-universalize-email</a> is an open source utility that
        process angular pages into email templates with angular universal plus other conversions.</p>

      <p>
        You can develop your email template with Angular, test it with ng serve.
        Process it when you're happy and add the result to your server side stack.
      </p>

      <p>
        You may also choose to pair it with client side template engine to produce the full email body and feed the mail provider directly.
        <br/>
        However, this may create relay and spam issue, so <b>is not recommended.</b>
      </p>

      <p>
        Hope you enjoy it.
      </p>

      <div class="mb-3">
        <b>Read more</b>
        <br>

        <a href="https://github.com/sohoffice/angular-universalize-email" mat-button class="mr-1">Github</a>
        <a href="https://www.npmjs.com/package/angular-universalize-email" mat-button class="mr-1">NPM</a>
        <a href="https://sohoffice.github.io/angular-universalize-email-demo" mat-button class="mr-1">Demo</a>
<!--
        <h6>Recipes</h6>
        <a href="" mat-button class="mr-1">Play framework scala template</a>
-->
      </div>

      <p>
        <a href="https://medium.com/@@sohoffice">sohoffice</a>, Happy coding ~
      </p>
    </mat-card-content>
  </mat-card>

</div>
